:root{    
--accent-color:#2196F3;
--title-color:#212121;
--text-color:#757575;
}
body {

font-family: "Roboto", sans-serif;
}
.header-contacts{
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
    
}
.header-logo {
color: #000;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.78px;
text-decoration:none;
}
.header-logo-blue{
color: #2196f3;    
}
.header-list{
    list-style: none;
}
.header-link{
color: var(--title-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
text-decoration: none;
}
.hero{
    background: #2F303A;

}
.hero-title{
flex-shrink: 0;
color: #FFF;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
text-transform: uppercase;

}
.hero-button{
width: 216.0px;
height: 50.0px;
background-color:var(--accent-color);
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
}
.features-item{
    color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
list-style: none;
}
.features-text{
    color: var(--text-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.gallery-title{
color: var(--title-color);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;

}
.gallery-list{
    list-style: none;
}
.team-list{
    list-style: none;
}
.team-img{
width: 270.0px;
height: 260.0px;
}
.team-title{
color: var(--title-color);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;

}
.team-name{
color: var(--title-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;

}
.team-text{
color:var(--text-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;

}
.footer{
    background-color: #2F303A;
}
.contacts-address{
color: white;          
text-decoration: none;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;

}
.contacts-email{
    color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.contacts-tel{
    color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.fillters{
    text-align: center;
}
.fillters-list{
list-style: none;    
}
.fillters-button{
background-color: #F5F4FA;
color:var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
}
.portfolio-list{
list-style: none;
}
.portfolio-img{
width: 370.0px;
height: 294.0px;

}
.portfolio-title{
color:var(--title-color);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;    
}
.portfolio-text{
color: var(--text-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.85;
letter-spacing: 0.48px;

}
.footer-logo{
color: #FFF;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.78px;
text-decoration:none;    
}
.footer-logo-blue{
color: #2196f3;  
}

